#result
  background-color: pink
  display: grid
  grid-template-columns: auto
  grid-template-rows: repeat(2, minmax(1fr, auto))
  grid-template-areas: "image" "content"

#trip-data
  grid-area: content
  padding: 1em

  #location
    font-size: 2em
    line-height: 2
    font-weight: bold

  #departing-time
    font-size: 1.5em
    line-height: 1.5
    font-weight: bold

  #waiting-time
    font-size: 1.5em
    line-height: 1.5

#weather
  margin: 1em auto

  #weather-headline
    font-size: 1.2em
    line-height: 1.5

  #weather-conditions
    margin: .5em auto

  #weather-summary
    font-size: 1.2em
    line-height: 1.5
    margin: .5em auto

#trip-image
  grid-area: image

@media screen and (min-width: 600px) 
  #result
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: 1fr
    grid-template-areas: "image content"

  #trip-image
    padding: .5em
    max-width: 320px

  #trip-data
    #location
      line-height: 1.5